@import "./include-media";

$breakpoints: (
  'phone': 320px,
  'tablet': 768px,
  'desktop': 1024px
);

$container-padding: 1rem;

// mobile
$enter-mobile-time: 300ms;
$exit-mobile-time: 300ms;
$enter-mobile-delay: 0;

$enter-mobile-trans-rev: 100%, 0%;
$enter-mobile-trans: -100%, 0%;
$exit-mobile-trans-rev: -100%, 0%;
$exit-mobile-trans: 100%, 0%;

// dekstop
$enter-time: 450ms;
$exit-time: 200ms;
$enter-delay: $exit-time * 0.75;

$enter-trans: 0%, 9px;
$enter-trans: 0%, 9px;
$exit-trans: 0%, 5px;


$navHeight: 3rem;


$navColorBg: #333;