.wrapper {
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.404);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  color: white;
  background: #333;
  padding: 1rem;
}