@import "../../Globals/vars";

.about {
  height: 100%;
  padding: $container-padding;
  background: steelblue;
}

.progress {
  height: 1rem;
  position: fixed;
  top: $navHeight;
  left: 0;
  // z-index: 9999999;
  background: rgb(192, 61, 115);
  transition: width 300ms ease;
}
